@import url(_reset.css);

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

header,
footer {
    background-color: antiquewhite;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
}

header a,
footer a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.logo {
    width: 75px;
}

#logOut {
    background-color: #428E9E;
    border: none;
    border-radius: 30px;
    padding: 0.8em;
    color: #ffffff;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    cursor: pointer;
}

footer {
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    padding: 3em 4em;
}

.heading {
    font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    margin: 1.5em;
}


